#include "resource.h"

IDR_CHANGELOG RCDATA "../ChangeLog"
IDR_LICENSE RCDATA "../LICENSE"
IDR_RELEASE RCDATA "../RELEASE"

IDI_ICON1 ICON "app.ico"
IDI_ACCEPT ICON "accept.ico"
IDI_BUG ICON "bug.ico"
IDI_CANCEL ICON "cancel.ico"
IDI_DOOR_OUT ICON "door_out.ico"
IDI_KEY ICON "key.ico"
IDI_PAGE_WHITE_TEXT ICON "page_white_text.ico"
IDI_SERVER ICON "server.ico"
IDI_USER ICON "user.ico"
IDI_WRENCH ICON "wrench.ico"
IDI_INFO ICON "information.ico"
IDI_LINUX ICON "linux.ico"
IDI_CROSS ICON "cross.ico"
IDI_PAGE_COPY ICON "page_copy.ico"
IDI_BIN ICON "bin.ico"
IDI_APPLICATION_PUT ICON "application_put.ico"
IDI_CLOCK ICON "clock.ico"
IDI_CLOCK_DELETE ICON "clock_delete.ico"
IDI_ADD ICON "add.ico"
